<!DOCTYPE html>
<html>
<head>
  <title>PDC Endpoint</title>
  <link rel="PDC Icon" href="/assets/favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= yield :head %>
</head>
<body>
  <%= render :partial => 'shared/header', :locals => {:definition => @definition} %>
  <div id="container">
    <div id="pageContent">
      <%= yield %>
    </div>
  </div>
</body>
</html>
